@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid grey; */
}

.App{
    border: 1px solid black;
    height: 200vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Alata', sans-serif;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    background-color: rgba(0,0,0,0.8);
    width: 90%;
    
}

input{
    padding: 10px;
    font-size: 20px;
    width: 400px;
    margin: 15px 15px;
}

form button{
    width: 200px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: #08FF08;
    font-weight: 800;
    outline: none;
}

.clear button{
    
    background-color:orange;
    width: 150px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    
}

.lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 50px;
    margin-bottom: 30px;
}

.list-item{
    border: 1px solid black;
    width: 70%;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(212, 192, 192, 0.651);
    margin: 15px;
    display: flex;
    justify-content: center;
   
}

